.picker {
    border-radius: 5px;
     width: 70px;
    height: 25px;
    background-color: whitesmoke;
    border: none;
    transition: background-color 0.3s;
}

.picker:hover {
    background-color: lightgray; 
    border: none;
    transition: background-color 0.3s; 
}

.prenda-img {
    transition: background-color 1s;
    border-radius: 20px;
}

.prenda-img:hover {
    background-color: rgb(205, 205, 205); 
}

.guardar {
    font-family: "Montserrat";
    background-color: whitesmoke;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    border: none;
    transition: background-color 0.3s; 

}

.guardar:hover {
    background-color: lightgray; 
}
